[submodule "lib/jaguarjs-jsdoc"]
	path = lib/jaguarjs-jsdoc
	url = https://github.com/davidshimjs/jaguarjs-jsdoc.git
[submodule "lib/jsdoc"]
	path = lib/jsdoc
	url = https://github.com/jsdoc3/jsdoc.git
[submodule "lib/docstrap"]
	path = lib/docstrap
	url = https://github.com/terryweiss/docstrap.git
