body {
    color: #ffffff;
    font-family: Monospace;
    font-size: 11px;
    text-align: center;
    font-weight: bold;

    background-color: #000000;
    margin: 0px;
    overflow: hidden;
}

#info {
    color: #fff;
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
}

#main {
    width: 100%;
    height: 100%;
}

div.view {
    position: absolute;
    overflow: hidden;
}

.component-view {
    background-color: gray;
}

.tlv-left {
    border-style: none solid none none;
    //border-color: black;
    border-color: #2fa1d6;
    border-width: 1px;
    left: 0;
    bottom: 0;
}

.tlv-left .ui-resizable-e {
    width: 15px;
}

.tlv-top {
    border-style: none none solid none;
    //border-color: black;
    border-color: #2fa1d6;
    border-width: 1px;
    top: 0;
    left: 0;
    right: 0;
}

.tlv-top .ui-resizable-s {
    height: 15px;
}

.tlv-bottom {
    border-style: solid none none none;
    //border-color: black;
    border-color: #2fa1d6;
    border-width: 1px;
    right: 0;
    bottom: 0;
}

.tlv-bottom .ui-resizable-n {
    height: 15px;
}

.tlv-right {
    border-style: none none none solid;
    //border-color: black;
    border-color: #2fa1d6;
    border-width: 1px;
    right: 0;
}

.tlv-right .ui-resizable-w {
    width: 15px;
}
