body {
    color: #ffffff;
    font-family: Monospace;
    font-size: 11px;
    text-align: center;

    background-color: #000000;
    margin: 0px;
    overflow: hidden;
}

#info {
    color: rgb(200,200,200);
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
}

.background1 {
    background-color: rgb(22,22,22);
}

.background2 {
    background-color: rgb(37,37,37);
}

.background3 {
    background-color: rgb(50,50,50);
}

.background4 {
    background-color: rgb(96,96,96);
}

.backgroundhl {
    background-color: rgb(52,154,255);
}

#main {
    width: 100%;
    height: 100%;
}

div.view-container {
    position: absolute;
    overflow: hidden;
    background-color: rgb(44,44,44);
}

div.view {
    width: 100%;
    height: 100%;
}

.view-header {
    text-align: left;
    display: table-row;
}

.view-title-text {
    color: rgb(160,160,160);
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1em;
    margin-right: 1em;
}

.view-body {
    display: table-row;
    background-color: rgb(37,37,37);
    height: 100%;
}

.navigator-view {
    display: table;
}

.navigator-list {
    overflow: scroll;
    position: relative;
    left: 1em;
    right: 1em;
    top: 1em;
}

.attribute-view {
    display: table;
}

.attribute-list {
    overflow: scroll;
    position: relative;
    left: 1em;
    right: 1em;
    top: 4em;
    bottom: 1em;
}

.component-view {
    background-color: gray;
    overflow: scroll;
}

.tlv-left {
    border-style: none solid none none;
    //border-color: black;
    border-color: #2fa1d6;
    border-width: 1px;
    left: 0;
    bottom: 0;
}

.tlv-left .ui-resizable-e {
    width: 15px;
}

.tlv-top {
    border-style: none none solid none;
    //border-color: black;
    border-color: #2fa1d6;
    border-width: 1px;
    top: 0;
    left: 0;
    right: 0;
}

.tlv-top .ui-resizable-s {
    height: 15px;
}

.tlv-bottom {
    border-style: solid none none none;
    //border-color: black;
    border-color: #2fa1d6;
    border-width: 1px;
    right: 0;
    bottom: 0;
}

.tlv-bottom .ui-resizable-n {
    height: 15px;
}

.tlv-right {
    border-style: none none none solid;
    //border-color: black;
    border-color: #2fa1d6;
    border-width: 1px;
    right: 0;
}

.tlv-right .ui-resizable-w {
    width: 15px;
}

.component {
    position: absolute;
    display: inline-block;
    background-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    margin: 5px;
    overflow: auto;
    -moz-box-shadow:    2px 2px 2px 0px #111;
    -webkit-box-shadow: 2px 2px 2px 0px #111;
    box-shadow:         2px 2px 2px 0px #111;
}

.component .ui-selecting {
    background-color: white;
    //background-color: lightgreen;
}

.component .ui-selected {
    background-color: white;
    //background-color: lightgreen;
}

.component-label {
    font-size: 10px;
    text-align: center;
    margin: 12px;
    color: black;
}

.input-port {
    white-space: nowrap;
}

.output-port {
    white-space: nowrap;
}

.component-inputs {
    margin: 0px;
    padding: 1px;
    padding-left: 0px;
    vertical-align: middle;
    //background-color: #d8d8d8;
}

.component-outputs {
    margin: 0px;
    padding: 1px;
    padding-right: 2px;
    vertical-align: middle;
    //background-color: #d8d8d8;
}

.input-terminal {
    width: 7px;
    height: 7px;
    background-color: #888888;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    float: left;
}

.input-terminal.ui-selecting {
    background-color: #888888;
}

.input-terminal.ui-selected {
    background-color: #888888;
}

.output-terminal {
    width: 7px;
    height: 7px;
    background-color: #888888;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    float: right;
}

.output-terminal.ui-selecting {
    background-color: #888888;
}

.output-terminal.ui-selected {
    background-color: #888888;
}


.input-port-label {
    font-size: 10px;
    color: gray;
    margin-left: 15px;
}

.output-port-label {
    font-size: 10px;
    color: gray;
    margin-right: 15px;
}

.component-view-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    pointer-events: none;
}

.wire {
    fill: none;
    stroke: black;
    stroke-width: 3;
}
